body{
	margin:0;
}
header {
	padding-left: 70px;
	padding-top: 25px;
}





header #top {
	justify-content: space-between;
	display: flex;
}

header #top .left {

}
header #top .left h1 {
	width: 50px;
	height: 50px;
}
header #top .left h1 a {
	display: block;
}
header #top .left h1 a img {
	display: block;
	width :100%;
}
header #top .right {
	
}

header #top .right ul {
	display: flex;
	align-items: center;
}

header #top .right ul li {
	text-transform: uppercase;
	list-style-type: none;
	margin-right: 50px;
}
header #top .right ul li:last-child {
	margin-right: 0px;
}
header #top .right ul li:last-child a{
	display: inline-block;
	background-color: #FD6569;
	color: white;
	border-radius: 2em / 2em;
	padding: 10px;
}

header #top .right ul li a {
	text-decoration: none;
	color: black;
}







header #bottom {
	display: flex;
	padding-top: 40px;
}

header #bottom .left {
}

header #bottom .left h2 {
	font-size: 40px;
	color: #2b488a;
}

header #bottom .left p {
	font-size: 18px;
	color: #a09b82;
}

header #bottom .left a {
	display: inline-block;
	text-decoration: none;
	background-color: #FD6569;
	color: white;
	border-radius: 2em / 2em;
	text-transform: uppercase;
	padding: 10px;
}

header #bottom .right {
	width: 50%;
}
header #bottom .right img {
	width: 100%;
}







#about {
	display: flex;
	padding-top: 35px;
}

#about .left {
	background-color: #eaeaea;
	padding: 8% 5%;
	width: 60%;
}

#about .left ul {
	
}

#about .left ul li {
	list-style-type: none;
	margin-bottom: 100px;
}
#about .left ul li:last-child{
	margin-bottom: 0;	
}
#about .left ul li h3 {
	font-size: 25px;	
	color: #2037ab;
}

#about .left ul li p {
	font-size: 20px;
	color: #77675e;
}

#about .right {
	background-color: #FD6569;
	padding: 4% 3%;
	width: 40%;
	text-align-last: center;
	
}

#about .right h4 {
	font-size: 20px;
	color: white;	
}

#about .right ul {
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about .right ul li {
	list-style-type: none;
	margin-bottom: 100px;
	width: 65%;
	padding: 7px 0;
}

#about .right ul #one {
	background-color: #ef8789;
	color: white;
	
}

#about .right ul #two {
	background-color: white;
	color: black;

}

#about .right ul li span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 1px solid black;
    margin: 0 auto;
}

#about .right ul li h5 {
	font-size: 18px;
}

#about .right ul li p {
	font-size: 18px;
}





#awareness {
	position: relative;
	top: -65px;
	padding: 10px 10px 10px;
}

#awareness ul {
	display: flex;
	padding: 0 50px;
}

#awareness ul li {
	list-style-type: none;
	width: 33%;
	text-align-last: center;
	margin-right: 50px;
	background-color: white;
	border-style: groove;
	padding: 30px;
	text-align-last: center;
}

#awareness ul li:last-child {
	margin-right: 0px;
}

#awareness ul li img {
	width: 100px;
	height: 70px;
}

#awareness ul li h3 {
	color: #756969;
}

#awareness ul li p {
	
}







#benefits {
	background-color: #fc6666;
}

#benefits .top {
	
}

#benefits .top h3 {
	color: white;
	text-align:center;
	padding-top: 40px;
	font-size: 30px;
}

#benefits .top p {
	color: white;
	text-align:center;
	font-size: 20px;
}





#benefits .middle {
	
	text-align:center;
}

#benefits .middle ul {
	display: flex;
	flex-wrap: wrap;
}

#benefits .middle ul #headings {
	list-style-type: none;
	background-color: white;
	text-align-last: center;
	margin-right: 25px;
	margin-bottom: 15px;
	width: 43%;	
	padding: 25px;
	border-radius: 1em/2em;
	font-size: 27px;
	color: black;
}

#benefits .middle ul #headings img {

}

#benefits .middle ul #headings h4 {

}

#benefits .middle ul li {
	list-style-type: none;
	width: 43%;
	background-color: #FC8585;
	margin-right: 40px;
	margin-bottom: 15px;
	text-align-last: center;
	padding: 20px;
	border-radius: 2em/5em;
	font-size: 26px;
	color: white;
}

#benefits .middle a {
	text-decoration: none;
	background-color: white;
	border-radius: 2em/5em;
	padding: 12px;
	display: inline-block;
	text-align-last: center;
}




#benefits .bottom {
	display: flex;
	text-align-last: center;
	padding-top: 40px;
	color: white; 
} 

#benefits .bottom .programs {
	width: 33%;
} 

#benefits .bottom .ourteam {
	width: 33%;	
	background-color: #333464;
} 

#benefits .bottom .programs h3 {
	font-size: 25px;
} 

#benefits .bottom .programs p {
	font-size: 20px;
}


#benefits .bottom .ourteam h3 {
	font-size: 25px;
}

#benefits .bottom .ourteam p {
	font-size: 20px;
}





.lollipops {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;

}

.lollipops .left {
	
}

.lollipops .left img {
	width: 600px;
	height: 400px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px; 
}

.lollipops .right {
	text-align-last: right;
	padding-right: 35px;
	padding-top: 50px;
}

.lollipops .right h3 {
	font-size: 30px;
}

.lollipops .right p {
	font-size: 17px;
}

.lollipops .right a {
	text-decoration: none;
	background-color: #fc6666;
	color: white;
	border-radius: 3em/5em;
	padding: 20px;
}





footer {
	background-color: #fc6666;
	text-align-last: center;
	color: white;
}

footer .top {
	padding-top: 50px;
}

footer .top p {
	font-size: 20px;
}

footer .top ul {
	display: flex;
	justify-content: space-between;
	padding: 50px 120px;
}

footer .top ul li {
	list-style-type: none;

}

footer .top ul li span {
	
}

footer .top ul li b {
	font-size: 18px;
}

footer .top ul #anom {
	
}
 
footer .top ul #anom a {
	text-decoration: none;
	background-color: white;
	border-radius: 5em/5em;
	padding: 20px;
}

footer .bottom {
	
}

footer .bottom p {
	background-color: #d55656;
	font-size: 20px;
	padding: 20px 0;
}